<div class="sidebar-wrapper">

  <div class="logo">
    <img src="/images/hdfc-logo.png" alt="HDFC Logo" class="brand-logo" />
  </div>

  <mat-nav-list>
    <!-- Display child submenus if a top module is selected -->
    <ng-container *ngIf="activeModule?.children; else singleRoute">
      <ng-container *ngFor="let item of activeModule?.children">
        
        <!-- Standard Submenu Item -->
        <a *ngIf="!item.children" 
           mat-list-item 
           class="top-nav-link"
           [routerLink]="item.route" 
           routerLinkActive="active">
          <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
          <span>{{ item.title }}</span>
        </a>

        <!-- Nested Submenu -->
        <mat-accordion *ngIf="item.children" class="nav-accordion">
          <mat-expansion-panel class="mat-elevation-z0">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
                <span>{{ item.title }}</span>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <a *ngFor="let child of item.children" 
               mat-list-item 
               [routerLink]="child.route" 
               routerLinkActive="active" 
               class="nested-item">
              <span>{{ child.title }}</span>
            </a>
          </mat-expansion-panel>
        </mat-accordion>

      </ng-container>
    </ng-container>

    <!-- Single Top-Level Link Selection -->
    <ng-template #singleRoute>
      <a *ngIf="activeModule?.route" 
         mat-list-item 
         class="top-nav-link"
         [routerLink]="activeModule?.route" 
         routerLinkActive="active">
        <mat-icon *ngIf="activeModule?.icon">{{ activeModule?.icon }}</mat-icon>
        <span>{{ activeModule?.title }}</span>
      </a>
    </ng-template>

    <a mat-list-item routerLink="/pages/settings">
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </a>

    <div class="logout">
      <a mat-list-item (click)="logout.emit()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </a>
    </div>
  </mat-nav-list>
</div>