<div class="login-container">
    <mat-card class="login-card">
  
      <h2 class="title">{{ isRegisterMode ? 'Create Account' : 'Login' }}</h2>
  
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Username</mat-label>
          <input matInput type="text" formControlName="username" />
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
  
        <!-- <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" />
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field> -->
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="password"
          />

        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="hidePassword ? 'Show password' : 'Hide password'">

          <mat-icon>
            {{ hidePassword ? 'visibility_off' : 'visibility' }}
          </mat-icon>

        </button>
        </mat-form-field>

       
        <a
          class="forgot-password"
          (click)="forgotPassword()">
          Forgot Password?
        </a>
        
        <button
          mat-raised-button
          color="primary"
          class="full-width"
          type="submit"
          [disabled]="loginForm.invalid">

          {{ isRegisterMode ? 'Register' : 'Login' }}
        </button>

          <!-- Switch -->
        <div class="register-section">
          <span>
            {{ isRegisterMode? 'Already have an account?' : "Don't have an account?" }}
          </span>
          <button
            mat-button
            color="primary"
            type="button"
            (click)="toggleMode()">
            {{ isRegisterMode ? 'Login' : 'Register' }}
          </button>
        </div>

         
  
      </form>
  
    </mat-card>
  </div>
  